/* =Content
----------------------------------------------- */

.home .entry-content p { margin: 0; }

.entry-title { display: none; }

.sticky {
}
.hentry {
	margin: 0;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0 auto;
	max-width: 1170px;
	width: 90%;
}

.sessions-card-outer {
	/*background: {
		color: $c5;
		image:
			linear-gradient(90deg, rgba($c4,.5) 50%, transparent 50%),
			linear-gradient(rgba($c4,.5) 50%, transparent 50%);
		size:50px 50px;
	}*/
	background-color: $c4;
	box-shadow: 0 2px 10px lighten($c6, 20%);
	margin: 1.5rem 2.5%;
	width: 45%;

	&:hover {
		box-shadow: 0 2px 10px darken($c6, 10%);
		cursor: default;
	}
} //end .sessions-card-outer

.sessions-card-inner {
	background-color: $c5;
	border: 4px solid darken($c4, 5%);
	margin: 5.4rem;
	min-height: 267px;
	padding: 1.5rem 3rem;

	h2 {
		font: {
			family: $f-serif;
			variant: small-caps;
			weight: 700;
		}
		margin-bottom: 1.5rem;
		text: { 
			align: center;
			decoration: underline;
		}

		@include font-size(28);
	}

	p {
		font-weight: 600;

		@include font-size(20);
	}

	ul {
		list-style: square;

		@include font-size(20);
	}
} //end .sessions-card-inner

.contact-info, .contact-form {
	margin: 0 2.5%;
	width: 45%;
}

.contact-form {
	h2 {
		font: {
			family: $f-serif;
			variant: small-caps;
			weight: 700;
		}
		margin-bottom: 1.5rem;
		text-align: center;

		@include font-size(28);
	}
}

.serif-strong {
	font: {
		family: $f-serif;
		weight: 700;
	}
	text-transform: uppercase;

	@include font-size(14);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

footer.entry-meta { display: none; }