/* =Content
----------------------------------------------- */

.home .entry-content { padding: 0; }

.home .entry-content p { margin: 0; }

.entry-title { display: none; }

.sticky {
}
.hentry {
	margin: 0;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	background-color: $c5;
	margin: 0 auto;
	max-width: 1170px;
	padding: 3rem 4rem;
	width: 90%;
}

p a {
	color: $c6;
	border-bottom: 2px dashed $c4;
	text-decoration: none;

	&:hover, &:focus { color: lighten($c6, 20%); }
	&:active { border-bottom-style: solid; color: darken($c6, 10%); }
}

.gc-cs-link {//sorry for the !importants, but we gotta override those g-voice plugin styles
	color: $c6 !important;
	border-bottom: 2px dashed $c4;
	text: {
		decoration: none !important;
		transform: uppercase;
	}

	@include font-size(18);

	&:hover, &:focus { color: lighten($c6, 20%) !important; }
	&:active { border-bottom-style: solid; color: darken($c6, 10%) !important; }
}

.sessions--left { float: left; width: 50%; }
.sessions--right { float: right; width: 50%; }

.sessions__card--border {
	/*background: {
		color: $c5;
		image:
			linear-gradient(90deg, rgba($c4,.5) 50%, transparent 50%),
			linear-gradient(rgba($c4,.5) 50%, transparent 50%);
		size:50px 50px;
	}*/
	background-color: $c4;
	box-shadow: 0 2px 6px lighten($c6, 20%);
	margin: 0 auto 3rem;
	padding: 0.1rem 0;
	width: 95%;

	&:first-child { margin-top: 1.5rem; }
	&:last-child { margin-bottom: 1.5rem; }
	&:hover {
		box-shadow: 0 2px 6px darken($c6, 10%);
		cursor: default;
	}
} //end .sessions__card--border

.sessions__card {
	background-color: lighten($c4, 16%);
	border: 4px solid darken($c4, 5%);
	margin: 5.4rem;
	padding: 1.5rem 3rem;

	h2 {
		font: {
			family: $f-serif;
			variant: small-caps;
			weight: 700;
		}
		margin-bottom: 1.5rem;
		text: { 
			align: center;
			decoration: underline;
		}

		@include font-size(32);
	}

	p {
		font-weight: 700;

		@include font-size(22);
	}

	ul {
		list-style: square;

		@include font-size(24);
	}
} //end .sessions__card

.contact-info, .contact-form {
	margin: 0 2.5%;
	width: 45%;
}

.contact-form {
	h2 {
		font: {
			family: $f-serif;
			variant: small-caps;
			weight: 700;
		}
		margin-bottom: 1.5rem;
		text-align: center;

		@include font-size(28);
	}
}

.serif-strong {
	font: {
		family: $f-serif;
		weight: 700;
	}
	text-transform: uppercase;

	@include font-size(18);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

footer.entry-meta { display: none; }