/* =Footer
----------------------------------------------- */

.site-footer {
	border-top: 2px solid $c5;
	color: $c5;
	margin: 2.8rem auto 1.4rem;
	max-width: 1170px;
	width: 90%;

	@include bp(delta) { text-align: center; }
}

.site-info {
	margin-top: 1.4rem;

	p {
		@include font-size(20);
		@include bp(alpha) { @include font-size(16); }
		@include bp(charlie) { @include font-size(14); }
		@include bp(delta) { clear: both; display: block; float: none !important; }
	}

	a, a:visited {
		color: $c5;
		border-bottom: 2px dashed $c1;
		font: {
			family: $f-serif;
			weight: 700;
		}
		text: {
			decoration: none;
			transform: uppercase;
		}

		@include font-size(16);
		@include bp(alpha) { @include font-size(14); }
		@include bp(charlie) { @include font-size(12); }

		&:hover, &:focus { color: darken($c5, 15%); }
		&:active {
			border-bottom-style: solid;
			color: $c5;
		}
	}
}

.footer-social {
	@include bp(delta) { clear: both; display: block; float: none; margin: 0 auto; text-align: center; }

	a {
		margin: 0 0.5rem;
		padding: 0 0.5rem 0.25rem;

		@include font-size(12);
		@include bp(alpha) { @include font-size(10); }
		@include bp(charlie) { @include font-size(8); }

		&:nth-child(1):hover,
		&:nth-child(1):focus {
			color: #3b5998;
			text-shadow: 1px 1px 1px $c5;
		}
		&:nth-child(1):active { border-bottom-style: solid; }

		&:nth-child(2) { margin-right: 0; }
		&:nth-child(2):hover,
		&:nth-child(2):focus {
			color: #55acee;
			text-shadow: 1px 1px 1px $c5;
		}
		&:nth-child(2):active { border-bottom-style: solid; }
	}
}