/* =Header
----------------------------------------------- */

.site-header {
	border-bottom: 2px solid $c3;
	margin: 5.6rem auto 2.8rem;
	max-width: 1170px;
	width: 90%;
}

.site-branding {
	float: left;
	width: 50%;
}

.site-title {
	font-weight: 400;
	letter-spacing: 0.4rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	@include font-size(36);

	a, a:visited {
		color: $c6;
		word-spacing: 20px;
		text-decoration: none;

		&:hover, &:focus { border-bottom: 2px dashed $c4; color: lighten($c6, 20%); }
		&:active { border-bottom-style: solid; color: darken($c6, 10%); }
	}
	
	span {
		position: relative;
		
		&:before {
			background-color: $c3;
			content: "";
			display: inline-block;
			height: 54px;
			left: -24px;
			position: absolute;
			width: 10px;
		}
	}
} //end .site-title

.main-navigation {
	display: block;
	float: left;
	width: 50%;
}
.main-navigation ul {
	float: right;
	list-style: none;
	margin: 0.9rem 0 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	border-bottom: 2px dashed $c4;
	color: $c6;
	display: block;
	font: {
		family: $f-serif;
		weight: 400;
	}
	margin: 0 1.8rem;
	padding: 0 0.4rem;
	text: {
		decoration: none;
		transform: lowercase;
	}

	@include font-size(24);

	&:last-child { margin-right: 0; }
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a,
.main-navigation li:focus > a { color: lighten($c6, 20%); }

.main-navigation li:active > a {
	border-bottom: 2px solid $c4;
	color: darken($c6, 10%);
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a,
.main-navigation .current-page-ancestor a {
	border-bottom: 2px solid $c4;
	font-weight: 700;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}