/* =Header
----------------------------------------------- */

.site-header {
	border-bottom: 2px solid $c5;
	margin: 1.4rem auto 2.8rem;
	max-width: 1170px;
	width: 90%;
}

.site-branding {
	float: left;
	width: 50%;

	@include bp(alpha) {
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	@include bp(charlie) {
		float: left;
		text-align: left;
		width: 15%;
	}
}

.site-title {
	font-weight: 400;
	letter-spacing: 0.4rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	@include font-size(40);

	a, a:visited {
		border-bottom: none;
		color: $c5;
		font-family: $f-title;
		text-decoration: none;
		word-spacing: 20px;

		&:hover, &:focus { border-bottom: 2px dashed $c1; color: darken($c5, 15%); }
		&:active { border-bottom-style: solid; color: $c5; }
	}
	
	span {
		position: relative;
		
		&:before {
			background-color: $c8;
			content: "";
			display: inline-block;
			height: 54px;
			left: -24px;
			position: absolute;
			width: 10px;
		}

		@include bp(charlie) { display: none; }
	}
} //end .site-title

.main-navigation {
	display: block;
	float: left;
	width: 50%;
	position: relative;

	@include bp(alpha) {
		float: none;
		margin: -1.4rem auto 1.4rem;
		text-align: center;
		width: 100%;
	}

	@include bp(charlie) {
		display: block;
		float: left;
		margin-top: 1.4rem;
		width: 85%;
	}

	&.toggled .nav-menu { @include bp(delta) { display: block; } }
}
.main-navigation ul {
	float: right;
	list-style: none;
	margin: 0.4rem 0 0;
	padding-left: 0;

	@include bp(alpha) {
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	@include bp(charlie) { float: right; }
	@include bp(delta) {
		display: none;
		float: right;
	}
}
.main-navigation li {
	float: left;
	position: relative;

	@include bp(alpha) {
		display: inline-block;
		float: none;
	}

	@include bp(charlie) { float: left; }
	@include bp(delta) {
		display: block;
		float: right;
		width: 100%;
	}

	&:last-child > a {
		margin-right: 0;
	}
}
.main-navigation a {
	border-bottom: 2px dashed $c1;
	color: $c5;
	display: block;
	font: {
		family: $f-serif;
		weight: 400;
	}
	margin: 0 1rem;
	padding: 0 0.4rem;
	text: {
		decoration: none;
		transform: lowercase;
	}

	@include font-size(28);
	@include bp(alpha) { &:first-child { margin-left: 0; } @include font-size(22); }
	@include bp(beta) { @include font-size(20); }
	@include bp(delta) {
		display: block;
		float: right;
		margin: 0.4rem 0;
		width: 9rem;
	}
}
.main-navigation ul ul {
	background-color: rgba($c6, 0.9); 
	box-shadow: 0 2px 10px $c6;
	display: none;
	float: left;
	left: 1.8rem;
	position: absolute;
	top: 2.9rem;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {}
.main-navigation ul ul li {}
.main-navigation li:hover > a,
.main-navigation li:focus > a { color: darken($c5, 15%); }

.main-navigation li:active > a {
	border-bottom: 2px solid $c1;
	color: $c5;
}
.main-navigation ul ul :hover > a {}
.main-navigation ul ul a:hover {}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current-page-ancestor > a {
	border-bottom: 2px solid $c1;
	font-weight: 700;
}

.menu-item-has-children > a {}

.page-template-gallerypage-php .main-navigation .menu-item:nth-child(3) a { font-weight: 700; border-bottom-style: solid;}

.gallery-navigation {
	list-style: none;
	margin: 0 0 2.8rem;
	padding: 0;
	text-align: center;

	li {
		display: inline;
		
		@include bp(beta) { text-align: left; }

		&.current-menu-item a {
			border-bottom: 2px solid $c4;
			font-weight: 700;
		}

		&:hover > a, &:focus > a { color: lighten($c6, 20%); }
		&:active > a { border-bottom-style: solid; color: darken($c6, 10%); }
	}

	a {
		border-bottom: 2px dashed $c4;
		color: $c6;
		display: inline-block;
		font: {
			family: $f-serif;
			weight: 400;
		}
		margin: 0 2rem;
		padding: 0 0.4rem;
		text: {
			decoration: none;
			transform: uppercase;
		}

		@include font-size(22);

		@include bp(alpha) { margin: 0 0.5rem; @include font-size(20); }
		@include bp(beta) { display: block; margin: 0.5rem 0; @include font-size(18); }
		@include bp(charlie) { margin: 1rem 0; @include font-size(16); }
	}
}

/* Small menu */
.main-navigation .menu-toggle {
	border: none;
	cursor: pointer;
	display: none;

	@include bp(delta) {
		color: $c5;
		display: block;
		float: right;
		margin-top: 0.4rem;

		@include font-size(24);
	}
}